<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Reserve testing environment">
    <meta name="revision" content="<%= Application.get_env(:argonaut, :git_sha) %>">
    <%= if Guardian.Plug.current_token(@conn) do %>
    <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <meta name='time_zone' content="<%= @conn.assigns.current_user.time_zone %>">
    <meta name='user_id' content="<%= @conn.assigns.current_user.id %>">
    <meta name='is_admin' content="<%= @conn.assigns.current_user.is_admin %>">
    <% end %>
    <meta name="author" content="gopal adhikari and contributors">
    <title>🛳  Argonaut</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <%= if Guardian.Plug.current_token(@conn) && Argonaut.User.current_user(@conn).background_url != "" do %>
  <body style="background-image: url(<%= Argonaut.User.current_user(@conn).background_url %>)">
  <% else %>
  <body>
  <% end %>
  <%= if Guardian.Plug.current_token(@conn) && ! Argonaut.User.current_user(@conn).email do %>
    <div class="text-center alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Update your profile:</strong> Please add an email address to your profile for password recovery.
    </div>
    <% end %>
    <div class="info-section"></div>
    <div class="container main-container">
      <div class="logo-container text-center">
        <a href="<%= index_path(@conn, :index) %>">
        <img class="logo-image" src="<%= static_path(@conn, "/images/argonaut.svg") %>">
        <span class="logo-text">Argonaut</span>
        </a>
      </div>

      <%= if logged_in?(@conn) do %>
      <nav class="navbar navbar-right">
      <%= if @conn.assigns.current_user.avatar_url do %>
        <img id="avatar-display" src="<%= Argonaut.User.current_user(@conn).avatar_url %>">
      <% end %>
        Signed in as <%= Guardian.Plug.current_resource(@conn).username %>
        <a class="btn btn-default" href="/profile"><i class="fa fa-user-circle-o"></i> Profile</a>
        <%= if Guardian.Plug.current_resource(@conn).is_admin do %>
        <a class="btn btn-default" href="/admin"><i class="fa fa-cubes"></i> Admin</a>
        <% end %>
        <a class="btn btn-default" href="/logout"><i class="fa fa-sign-out"></i> Log out</a>
      </nav>
      <div class="clearfix"></div>
      <% end %>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <main class="row">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
  </body>
  <script>
  window.onload = function(){
    var showPassword = document.querySelector(".show-password");
    var password = document.querySelector("#password");
    var passwordConfirmation = document.querySelector("#password_confirmation");
    var passwordConfirmationContainer = document.querySelector(".password_confirmation_container");

    if(showPassword){
      showPassword.addEventListener("click", function(e){
        if(password.type == "text") {
          password.type = "password";
          if(passwordConfirmationContainer) passwordConfirmationContainer.style.display = "block";
        } else {
          password.type = "text";
          if(passwordConfirmationContainer) passwordConfirmationContainer.style.display = "none";
        }
        password.focus();
      });
    }

    password.addEventListener("input", function() {
      if(password.type == "text") {
        if(passwordConfirmation) passwordConfirmation.value = this.value;
      }
    });
  }
  </script>
</html>
