<!doctype html>
<html>
<head>
<title>{{title}}</title>
<style type="text/css">
  body {
    font-family: "Avenir Next", "Segoe UI", "Roboto", Avenir, "Helvetica Neue",sans-serif;
    line-height: 1.5;
    color: #4b555a;
    font-size: 1.1em;
    margin: 20px;
    padding: 20px;
  }
</style>
</head>
<body>

<img alt="Logo" height="48" class="logo-image" src="https://theargonaut.herokuapp.com/images/ArgonautLogo.png">

{{message}}

<p>Thanks for using Argonaut!</p>
</body>
</html>
