<p>A password reset has been requested for the Argonaut username: <strong>{{username}}</strong></p>

<p>If you did not make this request, you can safely ignore this email. A password reset request can be made by anyone, and it does not indicate that your account is in any danger of being accessed by someone else.</p>

<p>If you do actually want to reset your password, visit this link:</p>

<p><a href="{{password_reset_url}}">{{password_reset_url}}</a></p>

<p>This link expires in 24 hours from the time this email was sent.</p>
