<h2>Edit environment</h2>

<hr>

<%= render "form.html", changeset: @changeset,
                        action: environment_path(@conn, :update, @environment) %>

<hr>

<%= link "Back", to: environment_path(@conn, :index) %>
