<h2>Show environment</h2>
<hr>
<ul class="model-details">

  <li>
    <strong>Name:</strong>
    <%= @environment.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @environment.description %>
  </li>

  <li>
    <strong>Owning team:</strong>
    <%= @environment.owning_team %>
  </li>

</ul>

<hr>

<%= link "Edit", to: environment_path(@conn, :edit, @environment), class: "admin-tool-button" %>
<%= link "Back", to: environment_path(@conn, :index), class: "admin-tool-button" %>
