html {
  font-size: 62.5%;
}

body {
  font-family: Avenir Next,Avenir,Helvetica Neue,sans-serif;
  line-height: 1.5;
  color: #4b555a;
  font-size: 1.8rem;
}

label {
  font-weight: 500;
}

.logo-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-container a {
  text-decoration: none;
}

.logo-image {
  width: 48px;
}

.logo-text {
  font-size: 4.0rem;
  color: #000;
  margin-left: 13px;
  margin-top: 0;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

.alert:empty { display: none; }

.info-section {
  display: none;
  padding: 10px;
  color: white;
  border-left: 6px solid #444;
}

.connection-success {
  background: #52ca47;
  border-left-color: #0f6f3f;
}

.connection-error {
  background: #ca4747;
  border-left-color: #a53535;
}

.navbar-right {
  margin-right: 10px;
}

#avatar-display {
  height: 32px;
}

#environments {
}

.profile-picture {
  height: 64px;
  margin-right: 10px;
}

.application-name {
  padding: 20px !important;
  font-size: 2.2rem;
  font-style: bold;
}

.server {
  display: inline-block;
  width: 100px;
}

.environment {
  display: inline-block;
  width: 100%;
  height: 100px;
}

.fa-github {
  color: #333;
}

.fa-lock {
  color: #ca2121;
}

.fa-unlock {
  color: #ff8f1c;
}

#reservations {
  background: #ffffff;
}

#reservations td:not(.application-name):hover{
  background: #f0fdff;
}


#reservations td:not(.application-name) .toolbar {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tool-item {
  cursor: pointer;
}

.tool-item a {
  text-decoration: none;
}

.tool-item:not(:last-child) {
  margin-right: 10px;
}

.action {
  vertical-align: super;
}

.credits {
  color: #a99d9d;
}

.toolbar form {
  display: inline-block;
}

/* admin page styles */

ul.model-details {
  padding: 0;
  list-style-type: none;
}

ul.model-details li {
  margin-bottom: 10px;
}

.admin-tool-button:not(:last-child) {
  margin-right: 20px;
}

.admin-panel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-panel-option {
}

.admin-panel-option:not(:last-child) {
  margin-right: 40px;
}

.admin-panel-option a {
  text-decoration: none;
  font-size: 2rem;
}

.admin-page table tr:hover{
  background: #f0fdff;
}

/* main */
main {
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #8d8c8c;
  margin-bottom: 40px;
}
