<h2>Show application</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @application.name %>
  </li>

  <li>
    <strong>Ping:</strong>
    <%= @application.ping %>
  </li>

  <li>
    <strong>Repo:</strong>
    <%= @application.repo %>
  </li>

</ul>

<%= link "Edit", to: application_path(@conn, :edit, @application) %>
<%= link "Back", to: application_path(@conn, :index) %>
