<h2>Show application</h2>
<hr>
<ul class='model-details'>

  <li>
    <strong>Name:</strong>
    <%= @application.name %>
  </li>

  <li>
    <strong>Ping:</strong>
    <%= @application.ping %>
  </li>

  <li>
    <strong>Repo:</strong>
    <%= @application.repo %>
  </li>

</ul>
<hr>
<%= link "Edit", to: application_path(@conn, :edit, @application), class: "admin-tool-button" %>
<%= link "Back", to: application_path(@conn, :index), class: "admin-tool-button" %>
